<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"/>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      
    <title>Nhà sách Đại Việt</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
    <link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
    <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
    
    <!--************************************
				Header Start
		*************************************-->
		<header th:replace="~{web/fragments/header :: header}"></header>
		<!--************************************
				Header End
		*************************************-->

    <section
      class="inner-section single-banner"
      style="background: url(images/newsletter.jpg) no-repeat center" >
      <div class="container">
        <h2>Giới thiệu</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
          
        </ol>
      </div>
    </section>
    
    <section class="about-choose">
      <div class="container">
        <div class="row">
          <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
            <div class="section-heading">
              <h2>Tại sao bạn lựa chọn sản phẩm của chúng tôi ?</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon"><i class="icofont-check"></i></div>
              <div class="choose-text">
                <h4>Uy tín chất lượng đặt lên hàng đầu</h4>
                <p>
					Kim chỉ nan làm việc của chúng tôi là đặt sự uy tín, trách nhiệm, cũng như chất lượng sản phẩm lên hàng đầu nhằm làm hài lòng kể cả những vị khách khó tính nhất.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon">
                <i class="icofont-vehicle-delivery-van"></i>
              </div>
              <div class="choose-text">
                <h4>Giao hàng nhanh chóng</h4>
                <p>
					Đội ngũ giao hàng tận tâm của chúng tôi sẽ chuyển hàng đến tận tay bạn trong thời gian sớm nhất.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon"><i class="icofont-loop"></i></div>
              <div class="choose-text">
                <h4>Chính sách hoàn trả thuận tiện</h4>
                <p>
					Khi nhận hàng bạn có quyền kiểm tra hàng trước khi nhận, nếu mặt hàng không chính xác, hay có bất cứ vẫn đề gì, bạn có thể đổi trả hàng miễn phí.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon"><i class="icofont-support"></i></div>
              <div class="choose-text">
                <h4>Nhóm hỗ trợ tức thì</h4>
                <p>
					Chúng tôi có hệ thống kênh hỗ trợ rất đa dạng, nếu có bất kỳ thắc mắc hay vấn đề gì bạn có thể liên hệ với chúng tôi qua chatbox, email hay gọi điện thoại trực tiếp để được tư vấn.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
	<section class="news-part"
		style="background: url(images/newsletter.jpg) no-repeat center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5 col-lg-6 col-xl-7">
					<div class="news-text">
						<h2>Đăng ký nhận thông báo</h2>
						<p>Hàng loạt các chương trình khuyến mãi, thông tin về các đầu sách mới nhất</p>
					</div>
				</div>
				<div class="col-md-7 col-lg-6 col-xl-5">
					<form class="news-form">
						<input type="text" placeholder="Nhập Địa Chỉ Email Của Bạn" />
						<button>
							<span><i class="icofont-ui-email"></i>Gửi</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="intro-part">
		<div class="container">
			<div class="row intro-content">
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-truck"></i>
						</div>
						<div class="intro-content">
							<h5>Giao hàng nhanh chóng</h5>
							<p>Đội ngũ giao hàng tận tâm của chúng tôi sẽ chuyển hàng đến tận tay bạn trong thời gian sớm nhất.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-sync-alt"></i>
						</div>
						<div class="intro-content">
							<h5>Chính Sách Hoàn Trả</h5>
							<p>Khi nhận hàng bạn có quyền kiểm tra hàng trước khi nhận, nếu mặt hàng không chính xác, hay có bất cứ vẫn đề gì, bạn có thể đổi trả hàng miễn phí.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-headset"></i>
						</div>
						<div class="intro-content">
							<h5>Hệ Thống Hỗ Trợ</h5>
 							<p>Chúng tôi có hệ thống kênh hỗ trợ rất đa dạng, nếu có bất kỳ thắc mắc hay vấn đề gì bạn có thể liên hệ với chúng tôi qua chatbox, email hay gọi điện thoại trực tiếp để được tư vấn.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-lock"></i>
						</div>
						<div class="intro-content">
							<h5>Thanh Toán An Toàn</h5>
 							<p>Chúng tôi cung cấp kênh thanh toán an toàn và đa dạng, bạn có thể thanh toán trực tiếp khi nhận được hàng hoặc thanh toán online.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
   <!--************************************
				Footer Start
		*************************************-->
		<footer th:replace="~{web/fragments/footer :: footer}"></footer>
				
		<!--************************************
				Footer End
		*************************************-->
   
   
    <script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="vendor/bootstrap/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/countdown/countdown.min.js"></script>
    <script src="vendor/niceselect/nice-select.min.js"></script>
    <script src="vendor/slickslider/slick.min.js"></script>
    <script src="vendor/venobox/venobox.min.js"></script>
    <script src="js/nice-select.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/accordion.js"></script>
    <script src="js/venobox.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
