<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<footer class="footer-part" th:fragment= "footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<a class="footer-logo" href="javascript:void(0);">
							<img src="/images/dvbook.png" alt="logo" />
						</a>
						<ul class="footer-social">
							<li><a class="icofont-facebook" href="javascript:void(0);"></a></li>
							<li><a class="icofont-twitter" href="javascript:void(0);"></a></li>
							<li><a class="icofont-linkedin" href="javascript:void(0);"></a></li>
							<li><a class="icofont-instagram" href="javascript:void(0);"></a></li>
							<li><a class="icofont-pinterest" href="javascript:void(0);"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget contact">
						<h3 class="footer-title">Thông tin liên hệ</h3>
						<ul class="footer-contact">
							<li><i class="icofont-ui-email"></i>
								<p>
									<span>dvbookstore@gmail.com</span><span>nvnamtlu@gmail.com</span>
								</p></li>
							<li><i class="icofont-ui-touch-phone"></i>
								<p>
									<span>+024 666 699 99</span><span>+035 697 776 85</span>
								</p></li>
							<li><i class="icofont-location-pin"></i>
								<p>1130 Đường Láng - Đống Đa - Hà Nội</p></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<h3 class="footer-title">Dịch vụ, hỗ trợ</h3>
						<div class="footer-links">
							<ul>
								<li><a href="javascript:void(0);">Điều khoản sử dụng</a></li>
								<li><a href="javascript:void(0);">Tìm kiếm nâng cao</a></li>
								<li><a href="javascript:void(0);">Chính sách đổi trả</a></li>
 							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<h3 class="footer-title">Thời gian mở của</h3>
						<div class="footer-links">
							<ul>
								<li>Thứ 2-6 : 8h-22h</li>
								<li>T7-CN : 9h-21h</li>
								<li>Nghỉ các ngày lễ tết ...</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="footer-bottom">
						<p class="footer-copytext">&copy; Develop by NamTLU</p>
						<div class="footer-card">
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/01.jpg" alt="payment" />
							</a>
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/02.jpg" alt="payment" />
							</a>
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/03.jpg" alt="payment" />
							</a>
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/04.jpg" alt="payment" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="https://ahachat.com/customer-chats/customer_chat_CU1DAQwwnm6225fea16027e.js"></script>
	</footer>
</body>
</html>